/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variabili*/
:root {
    --color-white: #ffffff;
    --color-bg-color: #f5f4f2;
    --color-primary: #7b68a3;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
    --color-d-and-d: #9e9c99;
    --color-icon-pink:#de3a8c;
    --color-icon-light-blue:#009dff;
}

/*Debug*/
.debug{
    border: 1px solid red;
}

/*Font*/
/*Nerko One*/
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
.font-size-small{
    font-size: small;
}
.font-size-larger{
    font-weight: 700;
    font-size: larger;
}

/*id*/
#icons div div{
    background-color: white;
    padding: 12px 17px;
    border-radius: 47%;
}

#tiramisu img{
    width: 70%;

}
#video img{
    width: 100%;
}
#footer li{
    text-decoration: underline;
}
  
/*Selectors*/
h1{
    color: var(--color-contrast);
    font-family: "Nerko One", cursive;
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 2px 1px 1px grey;
    
}
main,footer{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
main{
    background-color: var(--color-bg-color);
}

ul{
    list-style: none;
}
a{
    color: white;
}
li{
    font-size: smaller;
}
footer{
    background-color: var(--color-primary);
    color: white;
    font-size: 0.7em;
}
h2{
    font-weight: 400;
    font-size: xx-large;
}
/*Containers*/
.container-main{
    max-width: 1200px;
    margin-inline:auto;
    padding-inline: 20px;
}
.container2{
    width: 60%;
}
.container3{
    width: 20%;
}

/*Utilities:*/
/*Flex Utilities*/
.d-flex{
    display: flex;
}
.j-c-center{
    justify-content: center;
}
.j-c-space-between{
    justify-content: space-between;
}
.f-dir-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

/*Borders, Margins, Paddings and Gaps*/
.padding-40px-20px{
    padding: 40px 20px;
}
.padding-top-20px{
    padding-top: 20px;
}
.padding-bottom-20px{
    padding-bottom: 20px;
}
.padding-bottom-10px{
    padding-bottom: 10px;
}
.padding-top-15px{
    padding-top: 15px;
}
.padding-top-5px{
    padding-top: 5px;
}
.padding-top-10px{
    padding-top: 10px;
}
.gap-20px{
    gap: 20px;
}
.p-top-bot-10px{
    padding:10px 0;
}
.p-top-bot-15px{
    padding: 15px 0;
}
.p-top-bot-30px{
    padding:30px 0;
}

/*Others*/
.d-and-d{
    color: var(--color-d-and-d);
}
.tiramisu{
    color: var(--color-dark-text);
}
.bg-white{
    background-color: white;
}
.blue-fb{
    color: var(--color-icon-blue);
}
.pink-ig{
    color:var(--color-icon-pink);
}
.blue-twitter{
    color:var(--color-icon-light-blue);
}
.red-pr-yt{
    color:var(--color-icon-red);
}
.orange-line{
    border: 1px solid var(--color-contrast);
    width: 20%;
}

.tiramisu-description{
    line-height: 160%;
    font-size: 0.8em;
}
